* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --font-gray: rgb(133, 132, 132);
    --card-color: white;
    --content-bg: rgb(221, 216, 216);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.header {
    background-color: --card-color;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-area: 1 / 2 / 2 / -1;
    height: 170px
}

.header .user {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    gap: 10px;
    position: relative;
    bottom: 15px;
}

.header .search {
    display: grid;
}

input[type='search'] {
    width: 80%;
    line-height: 2;
    border-radius: 20px;
    place-self: center;
    background-color: var(--content-bg);
    border: none;
    position: relative;
    bottom: 50px;
}

header span::before {
    content: url(/logos/magnify.svg);
    width: 25px;
    position: relative;
    left: 55px;
    top: 18px;
}

header p {
    font-size: 2rem;
    font-weight: bold;
}

.user img:first-child {
    width: 30px;
}

.user img:hover {
    position: relative;
    bottom: 2px;
}

.user img:nth-child(2) {
    width: 80px;
}

.action-buttons {
    display: grid;
    align-content: start;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 40px;
    position: relative;
    bottom: 35px;
}

header button {
    padding: 12px;
    border-radius: 20px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(153, 153, 153, 0.75);
}

header button:hover {
    background-color: rgb(74, 164, 253);
}

header button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.welcome {
    display: flex;
    margin-left: 40px;
    gap: 10px;
    position: relative;
    bottom: 30px;
}

.welcome img {
    width: 80px;
    position: relative;
    bottom: 20px;
}

.greeting p:nth-child(1) {
    font-size: 1.25rem;
}

.greeting p:nth-child(2) {
    position: relative;
    bottom: 30px;
}

.sidebar {
    background-color: dodgerblue;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-area: 1 / 1 / -1 / 2;
    color: aliceblue;
    font-size: 2rem;
    font-weight: bold;
    align-content: center;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--content-bg);
}

.card {
    box-shadow: 5px 5px 5px 0px rgba(153, 153, 153, 0.75);
}

.projects {
    background-color: var(--content-bg);
    padding: 15px;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    align-content: start;
}

.content h3 {
    margin-left: 12px;
    font-size: 1.5rem;
}

.card-container {
    display: grid;
    padding: 1%;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.card {
    background-color: var(--card-color);
    border: lightgrey;
    border-radius: 8px;
    padding: 10%;
}

.card-icons {
    display: flex;
    gap: 20px;
    position: relative;
    left: 290px;
    top: 15px;
}

.card-icons img {
    width: 6%;
    height: 6%;
}

p.title {
    font-weight: bold;
    font-size: 1rem;
}

p.info {
    font-size: 0.95rem;
    color: var(--font-gray);
}

.announcements {
    background-color: var(--content-bg);
    margin-top: 22px;
    grid-column: 2;
}

.announcements .card {
    margin-right: 30px;
    height: 60%;
    place-content: center;
}

.announcements .article {
    border-bottom: 1px solid lightgray;
}

.announcements .article:nth-child(3) {
    border-bottom: none;
}

.article .info {
    position: relative;
    bottom: 10px;
}

.trending {
    background-color: var(--content-bg);
    grid-column: 2;
    position: relative;
    bottom: 38px;
}

.trending .profile {
    display: flex;
}

.trending .card {
    margin-right: 30px;
    height: 58%;
    position: relative;
    bottom: 18px;
}

.profile-info {
    position: relative;
    bottom: 12px;
}

.profile-info .info {
    position: relative;
    bottom: 13px;
}

.profile img {
    height: 18%;
    width: 18%;
    margin-right: 10px;
}

li {
    list-style: none;
}

.links li {
    margin-left: 15px;
}

.links li:hover {
    position: relative;
    bottom: 2px;
}

li img {
    width: 10%;
    height: 5%;
    position: relative;
    top: 4px;
    right: 10px;
}

.logo img {
    width: 20%;
    height: 10%;
    top: 12px;
}

.logo {
    font-size: 2.5rem;
    position: relative;
    right: 15px;
    bottom: 35px;
}

