.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 4px;
    height: 100vh;
}

.header {
    background-color: aquamarine;
    display: grid;
    grid-area: 1 / 2 / 2 / -1;
}

.sidebar {
    background-color: dodgerblue;
    display: grid;
    grid-area: 1 / 1 / -1 / 2;
}

.projects {
    background-color: cornflowerblue;
    display: grid;
    grid-area: 2 / 2 / -1 / 3;
}

.assignments {
    background-color:cornsilk;
    display: grid;
    grid-area: 2 / 3 / 3 / -1;
}

.trending {
    background-color: coral;
    display: grid;
    grid-area: 3 / 3 / -1 / -1;
}